<body>
    <div class="upper-section">
        <p class="welcome-admin">Welcome {{adminDetails.adminName}} ,</p>

        <div class="link-to-navigate">
            <a [routerLink]="['/admin/adminView/showMember']"> Members</a>
            <a [routerLink]="['/admin/adminView/showTrainer']"> Trainer</a>
            <a [routerLink]="['/admin/adminView/showMaterial']"> Material</a>
            <a [routerLink]="['/admin/adminView/showAttendance']"> Attendance</a>
            <a [routerLink]="['/admin/adminView/showBooking']"> Booking status</a>
        </div>
        
        <p class="logout"><a href="">Logout</a></p>
    </div>

    <main>
        <div class="container">
            <div class="row ">
                <div class="col-xl-6 col-lg-6">
                    <div class="card l-bg-cherry">
                        <div class="card-statistic-3 p-4">
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Member</h5>
                            </div>
                            <div class="row align-items-end mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-end mb-0">
                                        {{noOfMember}}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="card l-bg-blue-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Trainer</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        {{noOfTrainer}}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="box-shadow: 20px;" class="col-xl-6 col-lg-6">
                    <div class="card l-bg-green-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Material</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        {{noOfMaterial}}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </main>
</body>