<body>
    
    <section class="vh-100%">
        <div class="container h-50" *ngFor="let materials of material">
          <div class="row d-flex justify-content-start align-items-center h-50 ms-5">
            <div class="col col-xl-9" style="margin: -1% 0 0 5%; backdrop-filter: blur(10px);">
              <div class="card mb-5" style="border-radius: 15px">
                <div class="card-body p-4">
                  <h3 class="mb-3 text-center">{{ materials.materialName }}</h3>
                  <hr />
                  <div class="d-flex justify-content-start align-items-center">
                    <a>
                      <img src="{{ materials.url }}" width="60" />
                    </a>
                    <p class="mb-0 text-uppercase">
                      <span class="ms-3 me-4">|</span>
                    </p>
                    <p class="mb-0 text-capitalize">
                      <i class="text-center fas fa-cog me-2"></i>
                      <span class="text-muted small">{{
                        materials.materialDescription
                        }}</span>
                    </p>
                    <p class="mb-0 text-uppercase">
                      <span class="ms-3 me-4">|</span>
                    </p>
                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                      class="btn btn-outline-warning btn-sm btn-floating">
                      view
                    </button>
                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                      class="ms-4 btn btn-outline-primary btn-sm btn-floating">
                      book
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>    
</body>