<body>
  <div class="contain-all">
    <header>
      <div class="navigation-links">
        <a href="">Add Material</a>
        <a href="">Show Material</a>
      </div>
    </header>
    <main>
      <div>

      </div>
      <!-- <ng-template #addMaterial> -->
        <form name="form" class="form-alignment" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
          <div data-mdb-input-init class="form-outline form-white mb-4">
            <input type="text" class="form-control form-control-lg" name="materialName"
              [(ngModel)]="addNewMaterial.materialName" #materialName="ngModel" [ngClass]="{
                          'is-invalid': f.submitted && materialName.errors
                        }" required minlength="2" placeholder="Enter Material Name" />
            <div *ngIf="f.submitted && materialName.errors" class="invalid-feedback">
              <div *ngIf="materialName.errors['required']">
                Material Name is required
              </div>
              <div *ngIf="materialName.errors['minlength']">
                Material Name should Have  2 words
              </div> 
            </div>
          </div>
          <div data-mdb-input-init class="form-outline form-white mb-4">
            <input type="text" class="form-control form-control-lg" name="description" [(ngModel)]="addNewMaterial.materialDescription" minlength="8"
              #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.errors}" autocomplete="off" placeholder="Enter Material Description" required />
            <div *ngIf="f.submitted && description.errors" class="invalid-feedback">
              <div *ngIf="description.errors['required']">
                Description is required
              </div>
              <div *ngIf="description.errors['minlength']">
                Description Should have Minimum 10 Words
              </div>
            </div>
          </div>
          <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">
            Login
          </button>
        </form>
      <!-- </ng-template> -->
      <ng-template #showMaterial>

      </ng-template>
    </main>
  </div>
</body>