* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.navigation-links {
    display: flex;
    justify-content: space-around;
}

.navigation-links>a {
    padding: 10px 20px;
    margin:  3rem 0 ;
    background: linear-gradient(10deg, rgb(144, 249, 182), rgb(128, 244, 255));
    border-radius: 14px;
    font-weight: 700;
    font-size: 16px;
    color: rgb(255, 167, 120);
}

.navigation-links>a:hover{
    color: rgb(121, 121, 121);
    cursor: pointer;
}

.navigation-links>img{
    width: calc(100% - 92rem);
    height: calc(100% - 81rem);
    margin: 3rem 0 0 -10rem;
    cursor: pointer;
}

hr{
    width: calc(100% - 14rem);  
    margin: 0 8rem calc(100% - 95rem);
    border: 6px solid rgb(0, 0, 0);
    border-radius: 4px;
}

.contain-all {
    background: url(/assets/material-background.avif) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}


.card {
    background: none;
    backdrop-filter: blur(20rem);
    margin: auto;
}

::placeholder {
    text-align: center;
    color: aqua;
}

input {
    text-align: center;
}