<body>
  <div class="contain-all">


    <!-- <section class="gettingAttendance"> -->
    <div class="back-image">
      <img src="../assets/backButton.png" style="margin: 0 0 0 20px; display: inline-flex" alt="" srcset=""
        width="50px" />
      <p class="heading">Attendance</p>
    </div>
    <div class="container">
      <p class="options" (click)="showAttendance= false">Add Attendance</p>
      <p class="options" (click)="showAttendance=true">Show Attendance</p>
    </div>
    <div *ngIf="!showAttendance then addAttendance else showAttendaceData"></div>
    <ng-template #addAttendance>
      <div class="select">
        <p>Select Member From Following</p>
        <!-- </div> -->
        <div class="show-member" *ngFor="let members of memberDetails ">
          <div>
            <p>{{members.firstName + " "+ members.lastName}} </p>
          </div>
          <div class="align-buttons">
            <button (click)="inTime(members.memberId)"> In Time</button>
            <button (click)="outTime(members.memberId)"> In Time</button>
          </div>
        </div>
      </div>
      <!-- </section> -->

    </ng-template>

    <ng-template #showAttendaceData>
      <div>

      </div>
    </ng-template>
  </div>
</body>