<body>
  <div class="contain-all">
    <div class="back-image">
      <img src="../assets/backButton.png" style="margin: 0 0 0 20px; display: inline-flex" alt="" srcset=""
        width="50px" />
      <p class="heading">Attendance</p>
    </div>
    <div class="container">
      <p class="options" (click)="showAttendance= false">Add Attendance</p>
      <p class="options" (click)="showAttendance=true">Show Attendance</p>
    </div>
    <div *ngIf="!showAttendance then addAttendance else showAttendanceData"></div>
    <ng-template #addAttendance>
      <div class="select">
        <p>Select Member From Following</p>
        <div class="show-member" *ngFor="let members of memberDetails ">
          <div>
            <p>{{members.firstName + " "+ members.lastName}} </p>
          </div>
          <div class="align-buttons">
            <button (click)="inTime(members.memberId)"> In Time</button>
            <button (click)="outTime(members.memberId)"> Out Time</button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #showAttendanceData>
      <div class="select">
        <p>Select Member From Following</p>      
          <div class="show-member" *ngFor="let attendances of attendance ">
          <div class="show-name">
            <p style="text-align: center;">Name</p>
            <p>{{attendances.member.firstName + " "+ attendances.member.lastName}} </p>
          </div>
          <div class="date">
            <p style="text-align: center;">Date</p>
            <p style="text-align: center;">{{attendances.date}}</p>
          </div>
          <div class="show-time">
            <div class="in-time">
              <p style="text-align: center;">In Time</p>
              <p style="text-align: center;">{{attendances.inTime}}</p>
            </div>
            <div class="out-time">
              <p style="text-align: center;">Out Time</p>
              <p style="text-align: center;">{{attendances.outTime}}</p>
            </div>
          </div>
        </div>
        </div>
    </ng-template>
  </div>
</body>